.nav-logo {
    display: flex;
    padding-left: 60px;
    margin: auto;
}

.backg-dark {
    background-color: black !important;
}

.navbar {
    padding: 1rem 3rem !important;
    background-color: rgb(0,0,0,0.7);
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
}

.dropdown-item {
    color: black !important;
}

.nav-brand {
    color: white;
}
/* .navbar {
    background-color: black !important;
} */

.navbar button {
    margin: 0 0 0 20px !important;
}

/* .navbar a {
    margin: 0 0 0 20px !important;
} */