.prox-competicon {
    height: 400px;
    font-family: 'Roboto';
    font-size: 20%;
    font-weight: 900;
    color: #191919;
    padding: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}